.dashboard {
    height: 100vh;
    width: 100%;

    &-content {
        position: fixed;
        left: 15%;
        top: 10%;
        right: 0;
        bottom: 0;
        background-color: var(--bk-grey);
        border-top: 2px solid var(--div-grey);
        overflow-y: scroll;
    }
}