.no-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &--header {
        color: var(--letter-grey);
        cursor: default;
    }
}