.debit-credit-account {
    border: 2px solid var(--bk-grey);
    border-radius: 5px;


    .header {
        width: 100%;
        border-bottom: 2px solid var(--bk-grey);
        display: flex;
        justify-content: space-between;
        padding: .5rem;

        .balance-total {
            display: flex;
            align-items: center;
            gap: .2rem;

            .balance {
                font-weight: 500;
                font-size: 1.2rem;
            }

            .text {
                color: var(--letter-grey);
                font-size: .8rem;
                font-weight: 500;
                vertical-align: bottom;
            }

            .red {
                color: var(--red);
            }

            .green {
                color: var(--green);
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: .5rem;

            .attach-button {
                height: 80%;
                vertical-align: middle;
                background-color: transparent;
                transition: all .1s;
                border: none;
                cursor: pointer;
                color: var(--letter-grey);
                border-radius: 5px;

                &:hover {
                    background-color: var(--bk-grey);
                    border: none;
                }
            }

            .add-button {
                height: 2rem;
            }
        }
    }

    .add-debit-credit {
        padding: .5rem;
    }
}