<app-authentication-form [formData]="formData">
    <div [formGroup]="formControls">
        <div class="form-group-2x" formGroupName="name">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input 
                    matInput 
                    required 
                    formControlName="firstName">
                <mat-error>You must enter a first name</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input 
                    matInput 
                    required 
                    formControlName="lastName">
                <mat-error>You must enter a last name</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
        <mat-label type="email">Email</mat-label>
        <input 
            matInput 
            required
            formControlName="email">
        <mat-error>You must enter a valid email address</mat-error>
        </mat-form-field>
        <div class="form-group-2x" formGroupName="passwords">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input 
                    matInput 
                    type="password" 
                    required 
                    formControlName="password">
                <mat-error>You must enter a password</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input 
                    matInput 
                    type="password" 
                    required 
                    formControlName="confirmPassword">
            </mat-form-field>
        </div>
        <mat-error *ngIf="passwordControls" style="margin-bottom: 1rem;">Confirm password must match password</mat-error>
    </div>
</app-authentication-form>