.nav-member-total {
    display: flex;
    align-items: baseline;
    gap: .5rem;

    &--focus-text {
        font-size: 1.8rem;
        font-weight: 500;
    }

    &--plain-text {
        font-size: .9rem;
        color: var(--letter-grey);
    }
}
