<div class="top-nav">
   <div class="page-header">
      <mat-icon class="page-header--icon">{{ topNavData.topNavIcon }}</mat-icon>
      <h2 class="page-header--text">{{  topNavData.topNavHeader | titlecase }}</h2>
   </div>
   <div class="top-nav-actions">
      <!-- This tooltip needs to be dynamically updated based on the page -->
      <button *ngIf="topNavData.topNavAction"
         mat-mini-fab 
         [matTooltip]="topNavData.topNavAction.tooltip"
         (click)="topNavData.topNavAction.action()" >
         <mat-icon>{{ topNavData.topNavAction.icon }}</mat-icon>
      </button> 
      <button 
         mat-mini-fab 
         class="top-nav-button"
         matTooltip="Get Help"
         (click)="navigateToHelp()">
         <mat-icon>question_mark</mat-icon>
      </button>
      <!-- <mat-menu #notificationsMenu="matMenu">
         <div class="notifications-menu">
            <div class="notifications-empty">
               <p class="notifications-empty--text">You have no new notifications.</p>
               <button 
                  mat-raised-button 
                  color="primary" 
                  class="notifications-empty--button"
               >
                  Close
               </button>
            </div>
         </div>
      </mat-menu> -->
   </div>
</div>