.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border-bottom: 1px solid var(--div-grey);
    padding: 1rem;
    background-color: var(--dark-blue);

    &-actions {
        display: inherit;
        justify-content: inherit;
        gap: .5rem;
    }
}

.page-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-size: 2rem;

    &--icon {
        transform: scale(1.2);
        color: var(--white);

    }

    &--text {
        font-size: 1.5rem;
        color: var(--white);
    }
}
