<app-side-bar>
    <div class="side-nav">
        <div class="nav-links">
            <app-nav-link route="/overview/view" icon="timer" text="Overview"></app-nav-link>
            <app-nav-link route="/members/view" icon="group" text="Members"></app-nav-link>
            <app-nav-link icon="event" text="Schedule"></app-nav-link>
            <app-nav-link icon="fitness_center" text="Equipment"></app-nav-link>
        </div>
        <div class="menu">
            <button class="nav-button" mat-button [matMenuTriggerFor]="sideNavMenu">
                <h2 class="mat-menu-title">Wyatt Hardin</h2>
                <mat-icon class="nav-button-icon">expand_more</mat-icon>
            </button>
            <mat-menu class="menu-items" #sideNavMenu="matMenu" xPosition="after">
                <button mat-menu-item>Log out</button>
            </mat-menu>
        </div>
    </div>
</app-side-bar>