<app-side-bar>
    <div class="side-nav">
        <div class="top-content">

            <div class="logo">
                <img *appRenderOnResize="{showStart: 1420, showEnd: 4000}"
                    src="./../../../../../../assets/FinalLogo.png"
                    class="logo--img" />
                <img *appRenderOnResize="{showStart: 100, showEnd: 1420}"
                    src="./../../../../../../assets/android-chrome-256x256.png"
                    class="logo--img" />
            </div>
            <div class="nav-links">
                <app-nav-link tooltip="Overview" route="/overview/view" icon="bar_chart_4_bars" text="Overview"></app-nav-link>
                <app-nav-link tooltip="Accounts" route="/accounts/view" icon="article" text="Accounts"></app-nav-link>
                <app-nav-link tooltip="Journal" route="/journal/view" icon="import_contacts" text="Journal"></app-nav-link>
                <app-required-role-view [roles]="[1,2]">
                  <app-nav-link tooltip="Reports" route="/report/view" icon="print" text="Reports"></app-nav-link>
                </app-required-role-view>
                <app-required-role-view [roles]="[1]">
                    <app-nav-link tooltip="Users" route="/users/view" icon="group" text="Users"></app-nav-link>
                </app-required-role-view>
            </div>
        </div>
            <div class="menu">
                <!-- <app-nav-link route="test123" tooltip="Calendar" icon="calendar_month" text="Calendar"></app-nav-link> -->
                <app-side-nav-button
                    tooltip="Calendar"
                    text="Calendar"
                    icon="calendar_month"
                    [matMenuTriggerFor]="calendarMenu"
                    ></app-side-nav-button>
                <!-- <button

                >
                    <mat-icon>calendar_month</mat-icon>
                    Calendar
                </button> -->
                <button
                    class="menu-button"
                    mat-button
                    [matMenuTriggerFor]="sideNavMenu"
                    matTooltip="My Account"
                    matTooltipPosition="right">
                    <app-user-circle-image *appRenderOnResize="{showStart: 100, showEnd: 1420}" [userInitials]="initials"></app-user-circle-image>
                    <div *appRenderOnResize="{showStart: 1420, showEnd: 4000}" class="menu-button--expanded-user">
                        <div class="user">
                            <h2 class="name">{{ user?.firstName }}</h2>
                            <p class="role">{{ user?.userName }}</p>
                        </div>
                        <mat-icon class="icon">expand_more</mat-icon>
                    </div>
                </button>
            <mat-menu #sideNavMenu="matMenu" xPosition="after">
                <button mat-menu-item (click)="logoutClicked()">Log out</button>
            </mat-menu>
        </div>
    </div>
</app-side-bar>

<mat-menu #calendarMenu xPosition="after">
    <mat-calendar (click)="$event.stopPropagation()"></mat-calendar>
</mat-menu>
