.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

    .logo-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 0;
        padding: .5rem .5rem;
        color: var(--white);

        .divider {
            height: 3rem;
        }
    }

    .nav-links {
        display: inherit;
        flex-direction: inherit;
    }

    .menu {
        width: 100%;
        text-align: center;
        
        .nav-button {
            gap: .5rem;
            
            &--icon {
                transform: scale(1.5);
            }
        }
        
        button {
            width: inherit;
            padding: 2rem 0;
            display: flex;
            flex-direction: row-reverse;
            color: var(--white) !important;
        }
    }

}
