.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100%;
        border-right: 1px solid var(--nav-button-hover);
        border-bottom: 1px solid var(--nav-button-hover);

        &--img {
            height: auto;
            width: 50%;
        }
    }

    .logo-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: .7rem .5rem;
        height: 8vh;
        color: var(--white);
        background-color: var(--nav-button-hover) !important;


        .divider {
            height: 3rem;
        }
    }

    .nav-links {
        display: inherit;
        flex-direction: inherit;
    }

    .menu {
        width: 100%;
        text-align: center;
        
        .menu-button {
            background-color: var(--nav-button-hover) !important;
            width: 100%;
            
            &--expanded-user {
                display: flex;
                gap: 1rem;
               align-items: center;
               white-space: nowrap !important;
               min-width: max-content !important;

            .user {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .name {
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }

                .role {
                    font-size: .8rem;
                }
            }

            .icon {
                transform: scale(1.2);
            }
           }

            &--user {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .name {
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }

                .role {
                    font-size: .8rem;
                }
            }
            
            &--icon {
                transform: scale(1.5);
            }
        }
        
        button {
            width: inherit;
            padding: 2rem 0;
            display: flex;
            flex-direction: row-reverse;
            color: var(--white) !important;
        }
    }

}