.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

    .nav-links {
        display: inherit;
        flex-direction: inherit;
    }

    .menu {
        width: 100%;
        text-align: center;

        button {
            width: inherit;
        }

        .menu-items {
            width: 100% !important;
        }
    }

}