<div class="view-content">

    <div class="header">
        <div class="left-content">
        <h1>Current {{ tableTitle }}</h1>
        <mat-divider class="vertical-divider" vertical></mat-divider>
        <div class="chips">
            <mat-chip-listbox #chipList (change)="change($event)">
                <mat-chip-option [value]="true" matTooltip="View Accepted Users" selected>Users ({{users?.acceptedUsers?.length || 0}})</mat-chip-option>
                <mat-chip-option [value]="false" matTooltip="View Requested Users">Requested Users ({{users?.requestedUsers?.length || 0}})</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
    <div class="right-content">
        <label for="listSort">Order By:</label>
        <mat-select name="listSort" [(value)]="listSortValue">
            <mat-option value="newest">Newest</mat-option>
            <mat-option value="oldest">Oldest</mat-option>
            <mat-option value="lastName">Last Name</mat-option>
        </mat-select>
    </div>
    </div>
    <div class="members-table" *ngIf="users; else noUsers">
        <app-member-table *ngIf="renderUsers && users.acceptedUsers.length > 0; else showRequestedMembers" [userData]="users.acceptedUsers"></app-member-table>   
    </div>
</div>

<ng-template #showRequestedMembers>
    <app-requested-member-table *ngIf="users && users.requestedUsers.length > 0;else noUsers" [userData]="users.requestedUsers"></app-requested-member-table>      
</ng-template>

<ng-template #noUsers>
    <div class="no-users">
        <h1 class="no-users--header">It looks like there are no {{!renderUsers ? 'requested users' : 'users'}} in your organization.</h1>
        <button 
            mat-flat-button
            class="no-users--button"
            color="primary"
            (click)="emptyListAction()">{{!renderUsers ? 'Back to Users' : 'Create User'}}</button>
    </div>
</ng-template>