.members {
    display: flex;
    flex-direction: column;

    .members-content {
        display: flex;
        flex-direction: column;
        top: 12%;
        position: absolute;
        margin: 1rem;
        overflow-y: hidden;
        bottom: 0;
        right: 0;
        left: 0;

        &--header {
            margin-bottom: 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;

            .vertical-divider {
                margin: 0 .5rem;
                height: 2rem;
            }
    

            h1 {
                padding: 0 !important;
                margin: 0;
            }
        }

        .members-table {
            overflow-y: auto;
        }
    }

}
