<div class="members">
    <app-secondary-top-nav>
        <div class="members-nav">
            <div class="general-member-info">
                <app-nav-member-total
                [focusColor]="color.blue"
                focusText="5000"
                plainText="memberships"></app-nav-member-total>
                <mat-divider class="vertical-divider" vertical></mat-divider>
                <app-nav-member-total plainText="Today's Memberships"></app-nav-member-total>
                <app-nav-member-total
                [focusColor]="color.green"
                focusText="55"
                plainText="new"></app-nav-member-total>
                <app-nav-member-total
                [focusColor]="color.red"
                focusText="75"
                plainText="closing"></app-nav-member-total>
            </div>
            <div class="general-member-actions">

            </div>
        </div>
    </app-secondary-top-nav>
</div>