<h2 mat-dialog-title class="title">{{ data.title | titlecase}}</h2>
<mat-dialog-content>
    <form class="entry-create-form" [formGroup]="form">
        <div class="form-col-2" formGroupName="general">
            <mat-form-field appearance="outline">
                <mat-label>Entry Name</mat-label>
                <input matInput formControlName="entryName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="entryName" type="text" />
            </mat-form-field>
        </div>

        <app-debit-credit-account-form></app-debit-credit-account-form>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="resetForm()">Reset</button>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <app-spinner-button 
      [spin]="loading" 
      text="Submit" 
      (click)="executeAction()" 
      [disabled]="form.invalid"
    ></app-spinner-button>
</mat-dialog-actions>