.entry-create-form {
    margin-top: .5rem;

    .form-col-2 {
        display: flex;
        gap: 1rem;
    }

    .journal-error {
        margin-bottom: .5rem;
    }

}

.upload-button {
    margin-top: 1rem;
}