<h2 mat-dialog-title class="title">{{ data.title | titlecase}}</h2>
<mat-dialog-content>
    <form class="entry-create-form" [formGroup]="form">
        <div class="form-col-2">
            <mat-form-field appearance="outline">
                <mat-label>Entry Name</mat-label>
                <input matInput formControlName="entryName" type="text" />
                <mat-error>An Entry name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" hideRequiredMarker>
                <mat-label>Description (optional)</mat-label>
                <input matInput formControlName="entryDescription" type="text" />
            </mat-form-field>
        </div>

        <div class="adjustingSection">
            <mat-checkbox class="isAdjusting" (change)="toggleAdjusting()">Adjusted Entry</mat-checkbox>
            <form class="AdjustingInputs" *ngIf="adjustment" [formGroup]="adjustingForm">
                <div class="form-col-2">
                    <!-- Content to show when checkbox is checked -->
                    <mat-form-field class="entry-inputs--field" appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount" type="number"  />
                        <mat-error>Amount Required</mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="entry-inputs--field" appearance="outline">
                        <mat-label>Increase/Decrease</mat-label>
                        <mat-select formControlName="increaseDecrease" [value]="1">
                            <mat-option [value]="1">Increase</mat-option>
                            <mat-option [value]="2">Decrease</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="entry-inputs--field" appearance="outline">
                        <mat-label>Frequency</mat-label>
                        <mat-select formControlName="frequency" [value]=1>
                            <mat-option [value]=1>Weekly</mat-option>
                            <mat-option [value]=2>Monthly</mat-option>
                            <mat-option [value]=3>Quarterly</mat-option>
                            <mat-option [value]=4>Anually</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>

        <h2>Double Entry</h2>
        <mat-error class="journal-error" *ngIf="!transactionsValid">Journal entry is not balanced. A journal entry must
            be balanced before it can be submitted for approval.</mat-error>
        <app-debit-credit-account-form [shouldReset$]="shouldReset$"
            (transactionChange)="settransactions($event)"></app-debit-credit-account-form>
    </form>

    <div class="upload-button">
        <app-upload [shouldReset$]="shouldReset$" (selectedFilesChange)="files = $event"></app-upload>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="resetForm()">Reset</button>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <app-spinner-button [spin]="loading" text="Submit" (click)="executeAction()"
        [disabled]="form.invalid || !transactionsValid || transactions.length === 0"></app-spinner-button>
</mat-dialog-actions>