:root {
    --black: #292d2f ;
    --white: #ffffff;
    --green: #5BB318;
    --grey: #F5F5F5;
    --red: #B83B5E;
    --letter-grey: #88949e;
    --blue: #4050b5;
    --dark-blue: #3f51b5;
    --bk-grey: #f3f5f9;
    --div-grey: #e5eaf4;
    --nav-button-hover: rgba(0,0,0,.2);
}