@import './material-color-palette.scss';
@import './custom-color-variables.scss';

*::before,
*,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0 !important;
}

mat-form-field {
  width: 100% !important;
}

.mat-column-actions {
  width: 10px;
}

.mat-column-select {
  width: 10px;
}

.snack-styles--error {
  .mdc-snackbar__surface{
    background-color: var(--red) !important;
    
    div {
      color: var(--white) !important;
    }
  }
  
  .mat-mdc-snack-bar-actions{
    button{
      color: var(--white) !important;
    }
  }
}


.snack-styles--success {
  .mdc-snackbar__surface{
    background-color: var(--green) !important;
    
    div {
      color: var(--white) !important;
    }
  }
  
  .mat-mdc-snack-bar-actions{
    button{
      color: var(--white) !important;
    }
  }
}