@import './material-color-palette.scss';
@import './custom-color-variables.scss';

*::before,
*,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0 !important;
}

mat-form-field {
  width: 100% !important;
}

.mat-column-actions {
  width: 10px;
}

.mat-column-select {
  width: 10px;
}