.reports {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .reports-content {
    top: 0;
    position: absolute;
    margin: 1rem;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}
