<div class="overview" >
    <app-card 
        route="/users/view"
        icon="group" 
        title="Users" 
        subTitle="This Months Users" 
        buttonTitle="View Users"
        [requiredButtonRoles]="[1]">
        <div class="member-card">
            <div class="members-group">
                <h1 [style.color]="color.green" class="members-group--number">{{overviewData?.users?.accepted || 0 | number}}</h1>
                <p class="members-group--text">Active Users</p>
            </div>
            <div class="members-group">
                <h1 [style.color]="color.red" class="members-group--number members-group--number-right">{{ overviewData?.users?.requested || 0 | number}}</h1>
                <p class="members-group--text">Requested Users</p>
            </div>
        </div>
    </app-card>
</div>