<div class="overview">
    <app-card 
        route="/users/view"
        icon="group" 
        title="Users" 
        subTitle="This Months Users" 
        buttonTitle="View Users"
        [requiredButtonRoles]="[1]">
        <div class="member-card">
            <div class="members-group">
                <h1 [style.color]="color.green" class="members-group--number">{{overviewData!.users.accepted | number}}</h1>
                <p class="members-group--text">Sign Ups</p>
            </div>
            <div class="members-group">
                <h1 [style.color]="color.red" class="members-group--number">{{ overviewData!.users.requested | number}}</h1>
                <p class="members-group--text">On Leave</p>
            </div>
        </div>
    </app-card>
</div>