<app-authentication-form [formData]="formData">
    <mat-form-field  appearance="outline" [formGroup]="formControls">
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email">
        <mat-error>You must enter a valid email address</mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline" [formGroup]="formControls">
        <mat-label>UserName</mat-label>
        <input matInput type="userName" required formControlName="userName">
        <mat-error>You must enter a UserName</mat-error>
    </mat-form-field>

      <mat-form-field appearance="outline" [formGroup]="formControls">
        <mat-label>When is your birthday?</mat-label>
        <input matInput [matDatepicker]="datepicker" required formControlName="dob">
        <mat-error>You must enter a Date of Birth</mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
</app-authentication-form>