.help {
  margin: 1rem;

  .tabs {
    background-color: var(--white);
    
    .help-steps{
      padding: 5px;
      margin-bottom: 15px
    }
  }
}

.example-accordion {
    display: block;
    max-width: max;
  }

