<mat-card class="advanced">
    <mat-card-header>
        <mat-card-title class="advanced--title">Advanced</mat-card-title>
    </mat-card-header>
    <mat-card-content class="advanced--content">
        <mat-accordion>
            <!-- Suspend expansion -->
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>Suspensions</mat-expansion-panel-header>
            
                <!-- Has two states, 1 for set suspension, 2 for unsuspension -->
                <!-- if user is not suspened, show 1; else, show 2 -->

                <div class="suspensions">
                    <div class="suspensions--form">
                        <div class="form-items" *ngIf="!suspended; else unSuspendTemplate">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [formGroup]="suspendForm" [rangePicker]="picker">
                                  <input matStartDate formControlName="start" placeholder="Start date">
                                  <input matEndDate formControlName="end" placeholder="End date">
                                </mat-date-range-input>
                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              
                                <mat-error *ngIf="suspendForm.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
                                <mat-error *ngIf="suspendForm.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
                              </mat-form-field>
                              <button [disabled]="suspendForm.invalid" mat-flat-button color="warn">Suspend User</button>
                        </div>
                    </div>

                </div>
            </mat-expansion-panel>
            <!-- Delete expansion -->
            <mat-expansion-panel>
                <!-- Render header based on the user's activation status -->
                <mat-expansion-panel-header>Activate User</mat-expansion-panel-header>
                <!-- Has two states, 1 for activate, 2 for deactivate -->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<ng-template #unSuspendTemplate>
    <div class="suspensions--cancel">
        <p>This user is suspened from September, 1 2023 until September, 20 2023</p>
        <button mat-flat-button color="primary">Unsuspend</button>
    </div>
</ng-template>