.single-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .top-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;

        &--left {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &--right {

            .right-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
                
                h3 {
                    font-size: 1.2rem;
                    color: var(--letter-grey);
                    padding: 0 !important;
                    margin: 0 !important;
                    
                    span {
                        color: var(--blue);
                        font-weight: 500;
                    }
                }


                .button-menu {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &--description {
        h3 {
            font-size: 1.2rem;
            color: var(--letter-grey);
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .divider {
        margin: 1rem 0;
    }

    .tables {
        display: flex;
        width: 100%;
        gap: 1rem;
    }
}