.create-edit-user {
    // width: fit-content;
    // min-height: 50%;
    width: 100% !important;
    height: 100%;

    .form {
        margin: 1.2rem 0;

        .half-width {
            width: 50%;
        }
    }

    &--title {
        color: var(--blue);
    }

    .form-group-2x {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

