.edit-user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
    bottom: 0;

    .card {
        height: 100% !important;
    }

    &--info {

        .card {
            height: 100% !important;
        }
    }

    &--edit {
        width: fit-content;

    }

    &--advanced {
    }

}
