.nav-link {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.5rem  !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--white) !important;

    &-icon {
        height: 100%;
    }

    &-text {
        vertical-align: middle;
        text-align: center;
    }

    &:hover {
        background-color: var(--nav-button-hover);
    }
}

.nav-link-active {
    background-color: var(--nav-button-hover);
}