.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    max-width: 25%;
    width: 15%;
    border-right: 2px solid var(--grey);
    background-color: var(--dark-blue);
}