.secondary-top-nav {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .left-content {

        display: flex;
        align-items: center;
        
        .vertical-divider {
            margin: 0 .5rem;
            height: 2rem;
        }
        
        h1 {
            padding: 0 !important;
            margin: 0;
        }
    }

    .filtering {
        .search-bar {
            height: fit-content !important;
            align-items: center;
            margin: 0 !important;
            padding: 0 !important;

        }
    }
}