<mat-card class="security">
    <mat-card-header>
        <mat-card-title class="security--title">Security</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel class="">
                <mat-expansion-panel-header>Security Questions</mat-expansion-panel-header>

            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>Passwords</mat-expansion-panel-header>
                <mat-list class="passwords" >
                    <mat-list-item *ngFor="let password of passwords">
                        <div class="passwords--item">
                            <mat-icon [color]="password.isActive ? 'primary' : 'warn'">{{ password.isActive ? 'done' : 'close' }}</mat-icon>
                            <p><span>{{ password.password }}</span> ({{ password.isActive ? 'Current' : 'Expired' }})</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>