.security {
    // min-height: 50%;

    height: 100%;

    &--title {
        color: var(--blue) !important;
    }

    .passwords {
        max-height: 10rem !important;
        overflow-y: auto;

        &--item {
            display: flex;
            gap: 1rem;

            p > span {
                font-weight: 500;
            }
        }
    }
    
}