.members-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--info {
        display: inherit;
        align-items: center;
        gap: 1rem;
        justify-content: baseline;
        
        .vertical-divider {
            margin: 0 .5rem;
            height: 2rem;
        }

        .create-button {


            .icon {
                vertical-align: bottom;
            }

            p {
                height: 100%;
                vertical-align: middle;
            }
        }
    }

    &--actions {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}