<app-secondary-top-nav>
    <div class="members-nav">
        <div class="members-nav--info">
            <app-nav-member-total
            [focusColor]="color.blue"
            focusText="15"
            plainText="total users"></app-nav-member-total>
            <mat-divider class="vertical-divider" vertical></mat-divider>
            <button mat-flat-button color="primary"
            class="create-button">
                <mat-icon class="icon">person_add</mat-icon>
                <p>New User</p>
            </button>
        </div>
        <div class="members-nav--actions">
            <app-nav-member-total
            plainText="Sort By:"></app-nav-member-total>
            <mat-select [(value)]="selectedValue">
                <mat-option value="newest">Newest</mat-option>
                <mat-option value="oldest">Oldest</mat-option>
                <mat-option value="lastName">Last Name</mat-option>
            </mat-select>
        </div>
    </div>
</app-secondary-top-nav>